<%= form_for @question do |f| %>
  <%= f.text_area :content,  placeholder: 'Why is the sky blue?',  cols: "30", rows: "10" %></br></br>
  
  <div class="center-align">
    <%= f.submit %>
  </div>
<% end %>
