<h1>Parking Lot</h1>
<% if current_user %>
  <%= button_to 'Post a Question', new_question_path, method: 'get' %>
<% end %>

<% @questions.each do |question| %>
  <p><%= question.content %></p>
<% end %>
