<div class="button-margin"></div>
<main class="show-admin-q">
  <div class="row card-rows center-align">
    <div class="col s6" style="width:100%">
      <div class="card answer-border">
        <div class="card-content black-text show-card">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>
  </div>
</main>
